$primary-color : #e0f7fa;
$header-color: #73c4d8;
@font-face {
    font-family: 'champagne';
    src: url(./fonts/champagne.ttf)
}

@font-face {
    font-family: 'champagne-limo';
    src: url(./fonts/champagne-limo.ttf)
}

@font-face {
    font-family: 'myriad-pro';
    src: url(./fonts/Myriad-Pro.ttf);
}

#header{
	background: linear-gradient(100deg, $header-color, $header-color, white, white);
}

#logo{
	height: 25vh;
	width: 20vw;
	position: relative;

}