$primary-color : #e0f7fa;

@font-face {
    font-family: 'champagne';
    src: url(./fonts/champagne.ttf)
}

@font-face {
    font-family: 'champagne-limo';
    src: url(./fonts/champagne-limo.ttf)
}

@font-face {
    font-family: 'myriad-pro';
    src: url(./fonts/Myriad-Pro.ttf);
}

#logo {
  height: 40vh;
  width: 20vw;
 }

.dropdown-toggle, .dropdown-menu {
  width: 300px; }

.btn-group{
	margin-left: 5vw;
}
.btn-group img {
  margin-right: 12px; }

.dropdown-toggle {
  padding-right: 50px; }

.dropdown-toggle .glyphicon {
  margin-left: 20px;
  margin-right: 80px; }

.dropdown-menu > li > a:hover {
  background: white; }

/* $search-blue */
.dropdown-header {
  background: #ccc;
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px; 
}
//above code is for header 


#sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
}

.sidebar-header h1 {
	display: inline;
	border-bottom: 3px solid $primary-color;
	font-family: champagne-limo;
}

.nav-list{
	list-style-type: none;
	padding-left: 5vw;
	margin-top: 5vh;

}

.nav-list li{
	margin: 14px 0;
}

.nav-list li a {
	color: black;
	font-family: champagne-limo;
	font-size: 18pt;
}

#cancel{
	color: #7c0000;
	margin-top: 42vh;
	font-family: "champagne-limo";
}
//above code is sidebar

#prof-pic{
	height: 75px;
	width: 75px;
}

#edit-profile-form{
	margin-top: 10px;
	background-color: $primary-color;
	border-radius: 5px;
}

#edit-profile-form .form-group {
	margin-top: 10px;
	margin-left: 10px;
}

#edit-profile-form .form-group input{
	border-radius: 10px;
}

.about-contact{
    margin-left: 10px;
}

#profile-description{
	background-color: $primary-color;
}

#social-media-container{
	background-color:white;
}

.social-connect{
	width: 25vw;
	border-radius: 10px;
	font-size: 10px;
	padding-left: 10px;
}

.slick-slider{
	bottom: 5vh !important;
}

.plus-icon{
  height: 1rem;
  width: 1rem;
}

.delete-button {
  border: none;
  padding: 0;
  background: none;
  color: red;
  margin-left: 5px;
}

.form-radius{
  border-radius: 10px;
}


