	<!--header -->
	<div class="container-fluid" id="header">
		<div class="d-flex flex-row">
			<div class="col d-flex justify-content-start">
				<img id="logo" src="/images/white_logo.png">
			</div><!--logo -->
			<div class="col d-flex flex-wrap justify-content-end">
				<div class="btn-group mt-4">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white;">
						<img id="thumbail" src="/images/stock-thumbnail.png" style="border-radius: 50%;">
						Name
						<span class="glyphicon glyphicon-chevron-down"></span>
					</button>

					<ul class="dropdown-menu">
						<li class="dropdown-header">Member name (you)</li>
						<li>
							<a href="#" title="Select this card"><img src="http://via.placeholder.com/50x50">Name</a>
						</li>
						<li>
							<a href="#" title="Select this card"><img src="http://via.placeholder.com/50x50">0123 4567 8912 3456</a>
						</li>
						<li class="dropdown-header">Member name</li>
						<li>
							<a href="#" title="Select this card"><img src="http://via.placeholder.com/50x50">0123 4567 8912 3456</a>
						</li>
					</ul>
				</div><!--dropdown for profile image,name and description -->
				
				<ul id="header-nav">
					<li><a>Inbox</a></li>
					<li><a>Calender</a></li>
					<li><a>Listing</a></li>
					<li><a>Stats</a></li>
					<li><a>Help<a></li>
					<li><a><span class="fa fa-search"></span></a></li>
				</ul>
			</div>
		</div>
	</div><!--container for header -->