<div class="col-3 flex-nowrap">
	<nav id="sidebar">
		<!-- Sidebar Header -->
		<div class="sidebar-header text-center">
			<h1 id="notification">Notification</h1>
		</div>
		<!-- Sidebar Links -->
		<ul class="nav-list">
			<li class="active"><a href="#">Edit Profile</a></li>
			<li><a href="#">Privacy & Security</a></li>
			<li><a href="#">Payment Setting</a></li>
			<li><a href="#">Transaction History</a></li>
			<li><a href="#">Trust & Verfication</a></li>
			<li><a href="#">My Education Blog</a></li>
			<li><a href="#">Promotions</a></li>
		</ul>
		<ul id="cancel"><a><strong>Cancel Account</strong></a></ul>
	</nav>
</div>